#background-image {
  background-image: url("../src/images/background.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
}

.App {
  text-align: center;
}

body {
  margin-top: 100px;
}

.App-header {
  font-size: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  background-image: radial-gradient(circle, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

input[type="text"] {
  width: 35%;
  padding: 5px 10px;
  box-sizing: border-box;
}

label {
  font-size: 25px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

td {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.actions {
  width: 10%;
}

.formButton {
  border: transparent;
  background: transparent;
}

#edit-author {
  width: 90%;
  height: 40%;
}

#edit-title {
  width: 90%;
  height: 40%;
}

.table-content {
  width: 45%;
}
